<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8n0CbY5BjM-69tFCFRj_mjF85EV7_REE</string>
	<key>GCM_SENDER_ID</key>
	<string>5926029573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eglogics.quiz</string>
	<key>PROJECT_ID</key>
	<string>elite-quiz-75fcf</string>
	<key>STORAGE_BUCKET</key>
	<string>elite-quiz-75fcf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5926029573:ios:c37085465828ff4e3a8f6c</string>
</dict>
</plist>